.App {
  background-color: midnightblue;
  color: rgba(255, 255, 255, 0.684);
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.secondary-font {
  font-size: 0.25em; /* Adjust the value to your desired size */
  font-weight: normal; /* Adjust if needed */
  font-family: 'Roboto', sans-serif; /* Keeping the same font, but you can change if needed */
  color: rgba(255, 255, 255, 0.684); /* Keeping the same color as .App, but you can change if needed */
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin-bottom: 20px;
}

input {
  padding: 5px;
  font-size: 1em;
}

button {
  display: circle;
}

ol {
  list-style-type: decimal;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  display: inline-block;
}

body {
  background-color: midnightblue;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}
